@media (max-width: 767px) {
  .container__inner {
    padding-top: 20px;
  }

  .tabs__title {
    display: block;
  }

  .tabs__body {
    display: none;
  }

  .tabs__item {
    display: block;
    width: 100%;
    padding: 16px 0px;
    border-bottom: 1px solid #f4f4f4;

    background-color: rgb(233, 233, 233);
    color: #333;
  }

  .date__col:first-child {
    margin-bottom: 20px;
  }

  .date__col span {
    width: 10%;
  }

  .manager__top {
    display: block;
  }

  .manager__title {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

@media (max-width: 410px) {
  .date__col span {
    width: 12%;
  }
}

@media (min-width: 768px) {
  .tabs__body {
    display: flex !important;
  }
}
